/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #353535;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  nav h1 {
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .searchinput{
    width: 15rem;
    border: none;
    outline: none;
    color: rgb(5, 103, 107);
  }

  
  /* Basic CSS for the form elements */

  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  #search {
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 15px;
  }

  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 300px;
    padding: 5px;
    border: none;
    color: #037579;
  }
  
  button {
    padding: 7px 15px;
    background-color: #037579;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /*CSS for home page content*/

  #home_content {
    display: grid;
    grid-template-columns: 5% 95%;
    border: none;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  }

  #social_icons_col {
    /*background-color: rgba(211, 211, 211, 0.473);*/
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 50px;
  }

  #content_col {
    /*background-color: rgba(173, 216, 230, 0.445);*/
    display: grid;
    align-content: center;
    padding-left: 50px;
  }

  #content_rows {
    width: 40%;
  }

  #content_rows h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 25px;
  }

  #content_rows p {
    font-size: 16px;
    font-weight: 300;
    width: 70%;
    color: white;
    margin-bottom: 25px;
  }

  #btnBook {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
  }

/* CSS for about us page */

  #about_us_content {
    display: grid;
    grid-template-columns: 5% 95%;
    padding-top: 50px;
    border: none;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  }

  #about_us_content_col {
    /*background-color: rgba(173, 216, 230, 0.445);*/
    display: grid;
    padding-left: 50px;
    padding-right: 100px;
  }

  #about_us_content_rows {
    width: 100%;
  }

  .textbgdark {
    background-color: #00000048;
    padding: 15px;
    border: none;
    border-radius: 10px;
  }

  #about_us_content_rows h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 25px;
  }

  #about_us_content_rows p {
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin-bottom: 25px;
  }

  #our_team {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
    padding-left: 50px;
  }

  #our_team h2 {
    font-size: 70px;
    color: white;
  }

  #team_profiles {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
  }

  #profile1 {
    display: grid;
    grid-template-columns: 25% 75%;
    border: none;
    border-radius: 10px;
  }

  #profile2 {
    display: grid;
    grid-template-columns: 25% 75%;
    border: none;
    border-radius: 10px;
  }

  #profile3 {
    display: grid;
    grid-template-columns: 25% 75%;
    border: none;
    border-radius: 10px;
  }

  #col2 {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
  }

  #col2 h3 {
    color: white;
  }

  #btnProfile {
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
  }

  /* CSS for contact us page */

  #contact_us_content {
    display: grid;
    grid-template-columns: 5% 95%;
    padding-top: 50px;
    border: none;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  }

  #contact_us_content_col {
    /*background-color: rgba(173, 216, 230, 0.445);*/
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    padding-left: 50px;
    padding-right: 100px;
  }

  #contact_us_text h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 25px;
  }

  #contact_us_text p {
    font-size: 16px;
    font-weight: 300;
    color: white;
  }

  #contact_form {
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
    width: 100%;
  }

  #contact_form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    background-color: #00000000;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
  }
  
  #contact_form label {
    display: inline-block;
    width: 100px;
    color: white;
  }

  #contact_form input[type=submit] {
    width: 100%;
    background-color: #037579;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #contact_form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #00000000;
    color: white;
    font-size: 16px;
    resize: none;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  /* Basic CSS for the report section */

/*  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }

  #result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  } */

.Result{
    height: auto;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    position: fixed;
    right: 2%;
    top: 15%;
}

.resultvalues{
    width: 400px;
    margin: 1rem 1rem;
}

.resultdescription{
    color: #fff;
}

.resulttittle{
    font-size: 1.2rem;
}

.resultimg{
    width: 100%;
    height: auto;
}

.resulttittle{
    color: #fff;
}

#dropdown{
    background-color: #55555595;
    position: absolute;
    width: 30rem;
    height: auto;
    padding: 1rem 1rem;
    top: 100%;
    right: 1%;
    margin-top: .5rem;
    border-radius: 10px;
    border: 1px solid white;
    display: none;
}

.dropdown-header{
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-end;
}

#close-btn{
    padding: .5rem .5rem;
    border: none;
    background-color: rgb(16, 152, 152);
    outline: none;
    color: #fff;
    font-weight: bolder;
    transition: .3s;
    border-radius: 5px;
}

#close-btn:hover{
    background-color:  rgb(6, 95, 95);
}

#resultContainer{
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(5, 104, 107, 0.721);
    border: 1px solid white;
    padding: .5rem .5rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.686);
}

.description{
    font-weight: bolder;
    color: #fff;
}

.search-img{
    width: 100%;
}

.title{
    color: #fff;
}

.notfound{
    color: #fff;
}